* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr auto;
}

#main-image-container {
  background-color: coral;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#main-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#thumbnail-container {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  z-index: 100;
  width: 40vw;
  max-width: 500px;
  min-width: 250px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
}

#thumbnail-container img {
  margin: 5px;
  background-size: cover;
  border-radius: 5px;
}
.thumbnail:hover {
  opacity: 0.6;
  cursor: pointer;
}
